//======================contact====================//
.contact{
    width: 100%;
    background-image: url(../img/banner/banner6.png);
    background-position:80% 20%;
    background-size: 100%;
    padding: 2rem;

    h1{
        @include heading;
        
    }


    .inner{
        display: flex;
        align-items: center;
        justify-content: space-between;


        .image{
            width: 48%;
            clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);
            cursor: pointer;
    
            img{
                width: 100%;
                transition: 0.5s ease;
                
            }
           
            
        }
        .image:hover img{
            transform: scale(1.2);
        }
        .cform{
            width:48%;
            clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
            background-color: #0e0e0fa4;
            padding:  2rem 2rem 2rem 2rem;



            h1{
                font-size: 2rem;
                font-weight: 800;
                margin-bottom: 2rem;

            }

            form{
                display: flex;
                flex-direction: column;
                justify-content: flex-start;

                input{
                    width: 100%;
                    background:transparent;
                    outline: none;
                    border: none;
                    border-bottom:1px solid #929292;
                    padding: 12px 5px;
                    margin-bottom: 20px; 
                    color: $mycolor2;

                    &:focus{
                        background-color: transparent;
                        color: #fff;
                        box-shadow: none;
                    }
                }
                input:-webkit-autofill,
                input:-webkit-autofill:hover,
                input:-webkit-autofill:focus{
                    // border: none;
                    -webkit-text-fill-color:#fff;
                    -webkit-box-shadow: 0 0 0 1000px rgba(31, 31, 31, 0.034) inset !important;
                    transition: background-color 5000s ease-in-out 0s;
                }

                    
                .btn{
                    width: 100px;
                    height: 40px;
                    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
                    margin-top: 1rem;
                    background: transparent;
                    color: $mycolor1;
                    border: 1px solid #929292;
                    cursor: pointer;
                    margin-left: 15rem;
                    transition: 0.5s linear;
                }
                .btn:hover{
                     background: $mycolor1;
                     border: 1px solid $mycolor1;
                     color: $mycolor2;
                }
            }
        }
    }

    .text{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 3%;


        h5{
            font-size: .8rem;
            color: $mycolor2;
            margin-bottom: 5px;
        }
        p{
            font-size: .7rem;
            color: $mycolor2;
        }
        i{
            color: $mycolor2;
            font-size: .7rem;
            margin-right: 10px;
        }
        
    }

}